.xef-page {
  border-left:10px solid #ddd;
  background:white;
  box-shadow:0 0 5px #ddd;
}

.xef-page.notify .xef-tab {
  opacity:1!important;
}

.xef-page.notify:after {
  content:"!";
  position:absolute;
  border-radius:10px;
  top:5px;
  left:-22px;
  box-shadow:0px 0px 5px #aaa;
  padding:5px;
  background:orange;
  color:white;
}

.xef-inner {
  position:relative;
  overflow:auto;
  min-height:100%;
}

.xef-page.disabled {
  border-left-color:#eee;

}

.xef-page.loading:after {
  content:"";
  background:url(./images/loading.gif) 20px 20px no-repeat white;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.xef-page.hover {
  border-left-color:#ccc;
  cursor:pointer;
}
.xef-page.hover .xef-tab {
  background:#ccc!important;
}

.xef-page.disabled {
  color:#eee;
}

.xef-page.disabled:before {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  content:"";
  background:#eee;
  opacity:0.5;
}

.xef-tab {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position:absolute;
  background:#ddd;
  padding:5px 30px;
  box-shadow:0 0 5px #ddd;
  color:white;
}

.xef-page.active {
  border-left-color:#bbb;
}

.xef-page.active .xef-tab {
  background:#bbb;
}

.xef-page.disabled .xef-tab {
  background:#eee;
}
